* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p {
    margin-bottom:0;
}

.hero-unit {
    margin: 50px 10% 0 10%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

ul {
    list-style:none;
    margin:0 0 1em;
    padding:0;
}

.count-bar span {
    display:inline-block;
    background-color:#FFD76E;
    margin-right:.5em;
}

.poll-choices {
    margin:0 0 1em;
}

input[type=text] {
    width: 50%;
    line-height:2em;
    font-size: 1em;
    padding: 0 .5em;
}

.form-finish {
    display:block;
    margin-top:1em;
}
