* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p {
    margin-bottom:0;
}

.menu {
    margin-bottom:4em;
}
.menu a {
    display:block;
}

.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.poll-view {
    margin-bottom:4em;
}

.poll-header {
    margin-bottom:2em;
}

ul {
    list-style:none;
    margin:0 0 1em;
    padding:0;
}

.count-bar span {
    display:inline-block;
    background-color:#FFD76E;
    margin-right:.5em;
}

.poll-choices {
    margin:1em 0 1em;
}
.poll-choice {
    margin-bottom:1em;
    font-size:1.2em;
}
.poll-choices button {
    float:left;
    margin-right:1em;
}

input[type=text] {
    width: 50%;
    line-height:2em;
    font-size: 1em;
    padding: 0 .5em;
}

.field-group {
    margin-bottom:1em;
}

.form-finish {
    display:block;
    margin-top:1em;
}

.group:after {
    content:"";
    display:table;
    clear:both;
}
