<div class="hero-unit">
	<h1>Poll</h1>

	<h2>{{poll.question}}</h2>

	<ul>
		<li ng-repeat="choice in poll.choices">
			<span>{{choice.text}}</span>
			<!-- Show vote button if user hasn't voted -->
			<button ng-click="vote($index)" ng-show="!voted">Vote</button>
			<!-- Show result count after user has voted -->
			<div class="count-bar" ng-show="voted">
				<span style="width:{{choice.votes*20}}px">&nbsp;</span>{{choice.votes}}
			</div>
		</li>
	</ul>

	<h1>Archive</h1>
	<ul>
		<li ng-repeat="poll in archive">
			<a ng-href="/#/poll/{{poll._id}}/{{poll.question|dashString}}">{{poll.question}}</a>
		</li>
	</ul>
</div>
