<div class="hero-unit">

	<div class="menu">
		<p>
			<a href="/#/polls/">Back to latest poll</a>
		</p>
	</div>

	<div class="poll-header">
		<h1>Create a new poll</h1>
	</div>

	<section class="new-poll-form" ng-show="!pollSubmitted">
		<div class="poll-question field-group">
			<p>Enter the subject of your poll here</p>
			<input class="input-question" type="text" ng-model="poll.question" tabindex="1" placeholder="Question...">
		</div>
		
		<div class="field-group">
			<p>Type choices here (press <strong>enter</strong> to add, then add more)</p>
			<ul>
				<li>
					<input type="text" ng-model="newChoice" ng-keyup="addChoice($event)" tabindex="1" placeholder="Choice...">
				</li>
			</ul>
		</div>

		<div class="field-group">
			<p>Choices:</p>
			<div class="poll-choices" ng-show="poll.choices.length>0">
				<ul>
					<li class="poll-choice" ng-repeat="choice in poll.choices">
						<button class="btn" ng-click="removeChoice($index)">Remove</button>
						{{choice.text}}
					</li>
				</ul>
			</div>
		</div>

		<p>How long should the poll run for? (default is 1 hour)</p>
		<select ng-model="duration" tabindex="1">
			<option value="hour">1 hour</option>
			<option value="day">1 day</option>
			<option value="week">1 week</option>
		</select>

		<button class="form-finish" ng-click="savePoll()" tabindex="1">Finish</button>
	</section>

	<section class="submit-successful" ng-show="pollSubmitted">
		<p>Thank you.</p>
		<p>
			<a href="/#/polls/">Back to latest poll</a>
		</p>
	</section>
</div>
